.Menu {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: rgb(226, 20, 20);
    justify-content: center;
}
/* Для логотипа 
.Menu_img { 

}
*/
ul {
    justify-content: end;
}

.Menu_lisk {
    text-align: center;
    list-style-type: none;
    display: inline;
}

.Menu_lisk_link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px;
    place-items: center;
}

.Menu_lisk_link:hover {
    color:gold;
    text-decoration: none;
}

.Wrapper {
    margin: 10px;
}

.Wrapper__input {
    padding: 5px 40px;
    border-radius: 10px;
}

.Wrapper__btn {
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
}

.Content {
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-areas: 
    "Content_menu Vacancys"
    "footer footer";
    gap:10px
}

.Content_menu {
    grid-area: Content_menu;
    border: 3px solid black; 
    border-radius: 20px;
    margin: 10px;
    height: 250px;
}

.Content_menu_filter {
    text-align: center;
    font-size: 20px;
}

.Content_menu_filter_part,
.Content_menu_filter_type_of_employment,
.Content_menu_filter_wage,
.Content_menu_filter_experience {
    margin: 10px;
    font-size: 20px;
}

.min_wige,
.max_wige,
.min_experience,
.max_experience {
    width: 70px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn_box_forms{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.btn_forms{
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
}

.Vacancys {
    grid-area: Vacancys;
}

.footer{
    grid-area: footer;
    background-color: rgb(226, 20, 20);
    color: white;
    font-size: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.Vacancy {
    border: 3px solid black; 
    border-radius: 20px;
    margin: 10px;
}

.Vacancy_name_link {
   text-decoration: none;
   color: black;
   font-size: 30px;
   margin-left: 10px;
}

.Vacancy_maney_p {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
}

.Vacancy_Description_text {
    margin-left: 10px;
}

.Vacancy_locate, 
.Vacancy_type_of_employment, 
.Vacancy_experience {
    margin-left: 10px;
}

.Vacancy_locate_p,
.Vacancy_type_of_employment_p,
.Vacancy_experience_p {
    font-size: 18px;
}

.Vacancy_buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

.btn_feedback, .btn_detailied {
    padding: 15px 40px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    margin-left: 20px;
}

button {
    cursor: pointer;
}